<section class="wrapper">

	<h2 class="soon-section__h2 nerko orange">Your surveys</h2>

	<p class="soon-section__p">Ending soon surveys</p>

	<div class="soon-section">

		@for (poll of daysFilteredPolls(); track poll.id) {

		<!-- // <app-poll-item (inputPoll)="item()"> -->

		<!-- @if (poll.daysLeft >= 0) { -->

		<article class="soon-card" [routerLink]="['view', poll.id]" role="link">
			<p>{{ poll.categories.category }}</p>
			<h3 class="soon-card__h3">{{ poll.title }}</h3>

			<!-- <p>{{ poll.description }}</p> -->

			<p class="soon-card__countdown">Ends in {{ poll.daysLeft }} @if (poll.daysLeft == 1 || poll.daysLeft == -1)
				{day} @else {days}</p>

			<!-- @for (pq of poll.poll_question; track pq.question.id) {
			<h4>{{ pq.question.question }}</h4>

			<ul>
				@for (opt of pq.question.options; track opt.id) {
					<li>{{ opt.option }} (Votes: {{ opt.vote }})</li>
				}
			</ul>
			} -->

		</article>
		<!-- } -->
		} @empty {
		<article class="soon-card">
			<p>survey category</p>
			<h3 class="soon-card__h3">Create a new survey</h3>
			<p class="soon-card__countdown">new servey</p>
		</article>
		}
	</div>
</section>