<section class="wrapper">
    <article class="list__selectors">
        <div class="list__selectors__section">
            <button class="list__selectors__btn" (click)="onChangeStatus('active')"
                [class.active]="selectedStatus() === 'active'">Active survey</button>
            <button class="list__selectors__btn" (click)="onChangeStatus('past')"
                [class.active]="selectedStatus() === 'past'">Past survey</button>
        </div>
        <div class="list__select-wrapper">
            <select (change)="onChangeCategory($event)" id="selectedCategory" tabindex="0">
                <option value="" selected disabled>Sort by category</option>
                <option value="all">All categories</option>
                @for (cat of supabase.categories(); track cat.id){
                <option value="{{ cat.category }}">{{ cat.category }}</option>
                }
            </select>
        </div>
    </article>


    <div class="list__survey-section" [class.active]="selectedStatus() === 'active'">

        @for (poll of filteredPolls(); track poll.id) {
        <article class="list__card" 
        [routerLink]="poll.daysLeft >= 0 ? ['view', poll.id] : null" 
        [attr.role]="poll.daysLeft >= 0 ? 'link' : null">
            <p class="list__card__p">{{ poll.categories.category }}</p>
            <h3 class="list__card__h3">{{ poll.title }}</h3>

            <p class="list__card__countdown">@if (poll.daysLeft >= 0) {
                Ends in {{ poll.daysLeft }} @if (poll.daysLeft == 1 || poll.daysLeft == -1) {
                day } @else {days}
                } @else {Ended}</p>
        </article>
        } @empty {
        <article class="list__card">
            <p class="list__card__p">{{selectedCategory()}}</p>
            <h3 class="list__card__h3">No {{selectedStatus()}} survey with this category</h3>
        </article>
        }
    </div>
</section>
