<header class="wrapper">
    <img src="./assets/img/logo_orange.png" alt="Poll App Logo">

    <section class="hero__section__parent">
        <div class="hero__section__child">
            <h1 class="nerko hero__section__h1 orange">Collect Feedback, Unlock Ideas</h1>

            <div class="hero__section__image--mobile"></div>

            <p class="hero__section__p">Create and share surveys in minutes – from team events to workplace culture.
                Collect opinions,
                engage your
                audience, and turn feedback into action.</p>
            <button class="hero-btn-cta">New servey</button>
        </div>
        <div class="hero__section__image"></div>
    </section>
</header>
<main>


</main>