@use '../../shared/styles/mixin.scss' as mx;

app-view-section,
app-result-section {
    display: flex;
}

app-view-section{
    flex: 2;
}
app-result-section {
    flex: 1;
}


.view {
    &__box {
        &__servey-results {
            @include mx.flex-direction-align-justify-gap(row, flex-start, flex-start, 42px);
            width: 100%;

            @media (max-width: 768px) {
                @include mx.flex-direction-align-justify-gap(column, flex-start, flex-start, 56px);
            }
        }
    }
}