@use './mixin.scss' as mx;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary_orange: #FFB770;
    --primary_orange-disabled: #FFB7704D;
    --primary_orange-disabled-hover: #FFB77099;
    --primary_purple: #35273A;
    --primary_purple-disabled: #35273A66;
    --secondary_orange: #FFCFA1;
    --secondary_orange-hover: #FFCFA166;
    --secondary_purple: #D9D9D914;
    --terciary_orange: #FEE9D4;
    --terciary_purple: #D9D9D929;
    --font_white: #fefdff;
    --font_white-hover: #FAF5FE33;
    --soon-card-light: #FAF5FE;
    --soon-card-hover: #F4E9FB;
    --servey-view-card: #8E70991A;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
}

body.modal-open {
    overflow: hidden;
}

app-root {
    font-family: 'Mulish';
    padding-block: clamp(16px, 3.6vw, 48px);
    padding-inline: clamp(8px, 3vw, 48px);
    display: block;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;
}

app-root.theme-start {
    background-color: #35273A;
    color: #ffffff;
}

app-root.theme-survey {
    background-color: var(--font_white);
    color: var(--primary_purple);
}

.wrapper {
    max-width: 1920px;
    margin-inline: auto;
}

.orange {
    color: var(--primary_orange);
}

.purple {
    color: var(--primary_purple);
}

.nerko {
    font-family: 'Nerko One';
    text-wrap: balance;
}

button,
select {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

.servey__logo {
    margin-bottom: mx.calculate-clamp(42px, 54px);

    &--survey-view {
        cursor: pointer;
    }
}