* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary_orange: #FFB770;
    --primary_purple: #35273A;
    --secondary_orange: #FFCFA1;
    --secondary_purple: #D9D9D914;
    --terciary_orange: #FEE9D4;
    --terciary_purple: #D9D9D929;
    --font_white: #ffffff;
    --soon-card-light: #FAF5FE;
    --soon-card-hover: #F4E9FB;
}

body {
    background-color: var(--primary_purple);
    color: var(--font_white);
    font-family: 'Mulish';
    padding-block: clamp(16px, 3.6vw, 48px);
    padding-inline: clamp(8px, 3vw, 48px);
}

.wrapper{
    max-width: 1920px;
    margin-inline: auto;
}

.orange {
    color: var(--primary_orange);
}

.purple {
    color: var(--primary_purple);
}

.nerko {
    font-family: 'Nerko One';
    text-wrap: balance;
}

button, select {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
	cursor: pointer;
}