@mixin flex-direction-align-justify-gap($direction: column, $align: center, $justify: center, $gap: 0px) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@function calculate-clamp($min-size, $max-size, $min-vp: 320px, $max-vp: 1920px) {
    $slope: (
        $max-size - $min-size) / ($max-vp - $min-vp
    );
$y-intercept: $min-size - $slope * $min-vp;

// Rückgabe als clamp-String mit vw-Wert
@return clamp(#{$min-size}, #{$slope * 100}vw + #{$y-intercept}, #{$max-size});
}