@use '../../../../shared/styles/mixin.scss' as mx;

.hero__section {
    &__logo {
        margin-bottom: mx.calculate-clamp(54px, 92px);
    }

    &__parent {
        @include mx.flex-direction-align-justify-gap(row, center, center, 32px);
    }

    &__child {
        @include mx.flex-direction-align-justify-gap(column, flex-start);
    }

    &__h1 {
        font-size: mx.calculate-clamp(48px, 100px);
        ;
    }

    &__p {
        font-size: mx.calculate-clamp(18px, 24px);
        font-weight: 600;
        margin-top: mx.px-to-rem(24);
    }

}




.hero__section__image--mobile,
.hero__section__image {
    min-width: 280px;
    width: clamp(280px, 20vw, 420px);
    aspect-ratio: 1/1;
}

.hero__section__image {
    background: center / contain no-repeat url("./../../../../assets/img/poll-img_pc.png");
    transition: all 0.3s ease-in;
}

.hero__section__image--mobile {
    display: none;

    @media (max-width: 768px) {
        display: block;
        align-self: center;
    }
}

.hero__section__image--mobile,
.hero__section__image:hover {
    background: center / contain no-repeat url("./../../../../assets/img/poll-img_mobile.png");
}

.hero-btn-cta {
    background-color: var(--secondary_orange);
    color: var(--primary_purple);
    padding: 12px 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: mx.px-to-rem(48);
    font-size: mx.px-to-rem(18);
    font-weight: 700;
    font-style: bold;

    .hero-btn-cta__icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        transform: translateY(2px);
    }

    @media (pointer: fine) and (hover:hover) {
        .hero-btn-cta__icon {
            width: 0;
            transform: translateY(2px);
            margin-left: 0px;
            overflow: hidden;
            transition: all 0.3s ease-out;
        }

        &:hover {
            background-color: var(--primary_orange);

            .hero-btn-cta__icon {
                width: 20px;
                margin-left: 10px;
            }
        }
    }
}