@use '../../styles/mixin.scss' as mx;

.soon-section {
    @include mx.flex-direction-align-justify-gap(row, center, flex-start, 32px);
    overflow-x: auto;
    max-height: 310px;

    &__h2 {
        font-size: mx.calculate-clamp(40px, 72px);
        margin-top: mx.calculate-clamp(80px, 90px);
    }
    &__p {
        font-size: mx.calculate-clamp(24px, 32px);
        margin-top: mx.calculate-clamp(48px, 56px);
        margin-bottom: mx.calculate-clamp(16px, 32px);
    }
}

.soon-card {
    width: mx.calculate-clamp(240px, 310px);
    min-width: 240px;
    aspect-ratio: 1/1;
    border-radius: 0 80px 0 0;
    background-color: var(--soon-card-light);
    color: var(--primary_purple);
    display: grid;
    grid-auto-rows: 20px auto 20px;
    padding: calc(240px * 0.1);
    box-sizing: border-box;

    &__h3 {
        @include mx.flex-direction-align-justify-gap(row, center, flex-start);
        font-size: 26px; // px to rem - pending
        font-weight: 700;
    }

    @media (pointer:fine) and (hover:hover) {
        &:hover {
            cursor: pointer;
            background-color: var(--soon-card-hover);

            .soon-card__countdown {
                background-color: var(--primary_orange);
            }
        }
    }

    &__countdown {
        font-size: 16px; // px to rem - pending
        background-color: var(--secondary_orange);
        color: var(--primary_purple);
        padding: 4px;
        border-radius: 0 14px 0 0;
        height: fit-content;
        box-sizing: border-box;
        width: fit-content;
        transition: background-color 0.3s ease;
    }
}