<br>
<p>soon-section works!</p>
<br>
<section class="soon-section">
	@for (poll of pollsWithCountdown(); track poll.id) {

	<!-- // <app-poll-item (inputPoll)="item()"> -->

	<article class="soon-card">
		<p >{{ poll.category }}</p>
		<h3 class="soon-card__title">{{ poll.title }}</h3>
		<!-- <p>{{ poll.description }}</p> -->
		<p class="soon-card__countdown">Ends in {{ poll.daysLeft }} @if (poll.daysLeft == 1 || poll.daysLeft == -1) {day} @else {days}</p>

		<!-- @for (pq of poll.poll_question; track pq.question.id) {
			<h4>{{ pq.question.question }}</h4>

			<ul>
				@for (opt of pq.question.options; track opt.id) {
					<li>{{ opt.option }} (Votes: {{ opt.vote }})</li>
				}
			</ul>
		} -->
	</article>
	}
</section>
<br><br>
<h4>Debug JSON</h4>
<pre>{{ supabase.polls() | json }}</pre>