@use '../../shared/styles/mixin.scss' as mx;

.create {

    &__box {

        &__heading-and-close {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        &__form-section {
            gap: 64px;
            padding: 40px 32px;
            border-radius: 5px 80px 5px 5px;
            background-color: var(--secondary_purple);
            margin-top: mx.px-to-rem(32);
            overflow-y: auto;
            max-height: 500px;

            @media (max-width: 768px) {
                padding: 40px 10px;
            }

            /* Firefox */
            scrollbar-color: var(--primary_orange-disabled)
            /* rgba(0, 0, 0, 0.3) */
            transparent;

            /* Chrome/Edge/Safari */
            &::-webkit-scrollbar {
                background-color: transparent;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
            }
        }
    }

    &__name-batch {
        padding: 3px 12px 3px 8px;
        border-top-right-radius: 14px;
        background-color: var(--secondary_orange);
        color: var(--primary_purple);
        width: fit-content;
        box-sizing: border-box;
    }

    &__h1 {
        display: inline-flex;
        font-size: mx.calculate-clamp(32px, 56px);
    }

    &__cancel-btn,
    &__form__add-question-btn {
        padding: 8px 12px;
        border-radius: 10px;
        font-weight: 700;
        font-style: Bold;
        font-size: mx.px-to-rem(16);
        display: flex;
        gap: 10px;
        height: fit-content;
        align-items: center;
        align-self: center;
        background-color: var(--primary_orange-disabled);
        transform: translateY(4px);

        @media (pointer: fine) and (hover:hover) {
            &:hover {
                background-color: var(--primary_orange-disabled-hover);
            }
        }
        
        &:focus-visible,
        &:active{
            background-color: var(--primary_orange-disabled-hover);
        }
    }

    &__cancel-btn--mobile {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__overlay__published {
        width: mx.calculate-clamp(296px, 400px);
        justify-content: space-between;
        align-items: flex-start;
        font-size: mx.px-to-rem(24);
        color: var(--primary_purple);
        background-color: var(--secondary_orange);
        padding: 14px 26px;
        border-radius: 5px 50px 5px 5px;
        outline: none;
        border: none;

        position: fixed;
        margin: 0;

        transition:
            opacity 0.4s ease-in-out,
            transform 0.4s ease-in-out,
            display 0.4s ease-in-out allow-discrete,
            overlay 0.4s ease-in-out allow-discrete;

        &:not(:popover-open) {
            display: none;
            opacity: 0;
            transform: translateY(15px);
            animation: fade-out-popover 0.4s ease-in-out;
        }

        &:popover-open {
            display: flex;
            opacity: 1;
            transform: translateY(0);
            animation: none;

            @starting-style {
                opacity: 0;
                transform: translateY(15px);
            }
        }
    }

    &__form {

        &__box {

            &__title-category-date-descr,
            &__question-option {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: mx.calculate-clamp(16px, 64px);
                row-gap: 8px;


                @media (max-width: 1024px) {
                    grid-template-columns: 1fr;
                }
            }

            &__question-option {
                margin-top: 40px;
            }

            &__title {
                margin-bottom: 8px;
            }

            &__title-category-date {
                display: flex;
                flex-direction: column;
            }

            &__date-category {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 8px;

                @media (max-width: 1290px) {
                    grid-template-columns: 1fr;
                }
            }

            &__question-option-details {
                display: flex;
                flex-direction: column;
            }

            &__answers-and-multiple {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;

                &__multiple {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    position: relative;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    font-size: mx.px-to-rem(16);
                }

                &__multiple input {
                    position: absolute;
                    opacity: 0;
                    height: 0;
                    width: 0;
                }

                &__multiple::before {
                    content: '';
                    min-width: 16px;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    background: center / contain no-repeat url("./../../assets/img/view-survey_option_unchecked_white.svg");
                }

                &__multiple:has(input:checked)::before {
                    background: center / contain no-repeat url("./../../assets/img/view-survey_option_checked.svg");
                }
            }

            &__publish {
                @include mx.flex-direction-align-justify-gap(row, center, flex-end);
            }

            &__option {
                margin-bottom: 8px;
            }

            &__label-input-combi,
            &__question-detail {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            &__question-detail {
                margin-bottom: 24px;
            }

            &__input-delete-combi {
                display: flex;
                justify-content: space-between;
                gap: 8px;
            }

        }

        &__add-question-btn {
            width: fit-content;
            align-self: flex-start;
        }

        &__add-option-btn {
            margin-left: 26px;
            margin-top: 8px;
            padding: 8px 12px;
            display: flex;
            justify-content: flex-start;
            width: fit-content;
            border-radius: 10px;

            &--underline {
                border-bottom: 2px solid var(--font_white);
            }

            &:hover {
                background-color: var(--font_white-hover);
            }

        }

        &__publish-btn {
            background-color: var(--secondary_orange);
            color: var(--primary_purple-disabled);
            padding: 12px 16px;
            border-radius: 10px;
            outline: none;
            border: none;
            margin-top: mx.px-to-rem(40);
            cursor: unset;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-size: mx.px-to-rem(18);
            font-weight: 700;
            font-style: bold;

            .create__form__publish-btn__icon {
                width: 18px;
                height: 16px;
                margin-left: 10px;
            }

            &:not([disabled]) {
                background-color: var(--primary_orange);
                color: var(--primary_purple);
            }

            @media (pointer: fine) and (hover:hover) {
                .create__form__publish-btn__icon {
                    width: 0;
                    margin-left: 0px;
                    overflow: hidden;
                    transition: all 0.3s ease-out;
                }

                &:not([disabled]):hover {
                    background-color: var(--primary_orange);
                    cursor: pointer;

                    .create__form__publish-btn__icon {
                        width: 18px;
                        margin-left: 10px;
                    }
                }

            }
        }

        &__letter-bold {
            font-weight: 700;
            width: mx.px-to-rem(18);
        }

        &__delete-btn {
            object-fit: cover;
            object-position: center;
            align-self: flex-start;
            transform: translateY(4px);
        }

        &__input {
            height: 37px;
            width: 100%;
            padding: 7px 13px;
            border-radius: 5px 20px 5px 5px;
            background-color: var(--font_white);
            color: var(--primary_purple);
            color: var(--primary_purple);
            font-family: inherit;
            font-size: inherit;

            &::-webkit-calendar-picker-indicator { /* Chrome/Chromium/Edge/Opera */
                cursor: pointer;
            }
        }

        &__textarea {
            resize: none;
            height: 108px;
            line-height: 120%;
        }

        &__select-wrapper {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            align-self: flex-start;

            &::after {
                content: "";
                position: absolute;
                right: 2px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 8px;
                pointer-events: none;
                -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8'><path d='M6.5843 7.61702L0.261628 1.44681C0.174419 1.3617 0.109012 1.2695 0.065407 1.17021C0.0218023 1.07092 0 0.964539 0 0.851064C0 0.624114 0.0799419 0.425532 0.239826 0.255319C0.399709 0.0851064 0.610465 0 0.872093 0H14.1279C14.3895 0 14.6003 0.0851064 14.7602 0.255319C14.9201 0.425532 15 0.624114 15 0.851064C15 0.907802 14.9128 1.10638 14.7384 1.44681L8.4157 7.61702C8.27035 7.75887 8.125 7.85816 7.97965 7.91489C7.8343 7.97163 7.67442 8 7.5 8C7.32558 8 7.1657 7.97163 7.02035 7.91489C6.875 7.85816 6.72965 7.75887 6.5843 7.61702Z'/></svg>") no-repeat center / contain;
                mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 8'><path d='M6.5843 7.61702L0.261628 1.44681C0.174419 1.3617 0.109012 1.2695 0.065407 1.17021C0.0218023 1.07092 0 0.964539 0 0.851064C0 0.624114 0.0799419 0.425532 0.239826 0.255319C0.399709 0.0851064 0.610465 0 0.872093 0H14.1279C14.3895 0 14.6003 0.0851064 14.7602 0.255319C14.9201 0.425532 15 0.624114 15 0.851064C15 0.907802 14.9128 1.10638 14.7384 1.44681L8.4157 7.61702C8.27035 7.75887 8.125 7.85816 7.97965 7.91489C7.8343 7.97163 7.67442 8 7.5 8C7.32558 8 7.1657 7.97163 7.02035 7.91489C6.875 7.85816 6.72965 7.75887 6.5843 7.61702Z'/></svg>") no-repeat center / contain;
                background-color: #fff;
                transition: transform 125ms ease-in-out, background-color 125ms ease-in-out;
            }

            &:has(select:hover)::after,
            &:has(select:active)::after,
            &:has(select:focus-visible)::after {
                background-color: var(--primary_orange);
            }

            &:has(select:focus-within)::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

@keyframes fade-out-popover {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(15px);
    }
}

label {
    font-size: mx.px-to-rem(18);
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

select {
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    -moz-padding: 4px 30px 4px 0;
    padding: 4px 30px 4px 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}

select:hover,
select:active,
select:focus-visible {
    background-color: var(--secondary_purple);
}

select:focus::-ms-value {
    background-color: var(--font_white);
}

select option {
    color: var(--primary_purple);
    background-color: var(--soon-card-light);
    cursor: pointer;
}

// &::-webkit-calendar-picker-indicator{
//            cursor: pointer;
//        }