@use '../../../../shared/styles/mixin.scss' as mx;

.view-section {
    &__box {
        &__parent {
            @include mx.flex-direction-align-justify-gap(column, flex-start, center);
            background-color: var(--servey-view-card);
            border-radius: 0 160px 0 0;
            padding: mx.px-to-rem(40);

            @media (max-width: 455px) {
                padding: mx.px-to-rem(8);
            }
        }

        &__child {
            &__title-section {
                @include mx.flex-direction-align-justify-gap(column, flex-start, center, 8px);
                min-width: 270px;
            }

            &__question-section {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(min(414px, 100%), 1fr));
                width: 100%;
                gap: mx.px-to-rem(24);
            }

            &__vote-button {
                background-color: var(--primary_orange);
                color: var(--primary_purple);
                padding: 8px 12px;
                outline: none;
                border: none;
                margin-top: mx.px-to-rem(24);
                align-self: self-end;
                border-radius: 10px;
                cursor: pointer;

                &[disabled] {
                    background-color: var(--primary_orange-disabled);
                    cursor: default;
                }
            }

            &__voted-badge {
                background-color: var(--primary_orange-disabled);
                color: var(--primary_purple);
                padding: 8px 12px;
                margin-top: mx.px-to-rem(24);
                align-self: self-end;
                border-radius: 10px;
            }
        }
    }

    &__days-and-category {
        width: 100%;
        @include mx.flex-direction-align-justify-gap(row, center, space-between, 8px);

        @media (max-width: 508px) {
            @include mx.flex-direction-align-justify-gap(column, flex-start, center, 4px);
        }
    }

    &__published {
        background-color: var(--primary_orange);
        color: var(--primary_purple);
        padding: 3px 12px;
        border-radius: 0 14px 0 0;
        outline: none;
        border: none;
    }

    &__title {
        font-size: mx.px-to-rem(56);
        line-height: mx.px-to-rem(50);

        @media (max-width: 768px) {
            font-size: mx.px-to-rem(48);
        }
    }

    &__question {
        font-weight: 700;
        font-size: mx.px-to-rem(20);
        margin-top: mx.px-to-rem(40);
    }

    &__multiple-false {
        margin-bottom: mx.px-to-rem(24);
    }

    &__multiple-answer {
        font-size: mx.px-to-rem(16);
        font-weight: 400;
        margin-bottom: mx.px-to-rem(24);
    }

    &__option {
        &__container {
            display: flex;
            align-items: flex-start;
            position: relative;
            padding-left: 8px;
            padding-block: 3px;
            margin-bottom: 8px;
            font-size: mx.px-to-rem(16);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            @media (pointer:fine) and (hover: hover) {
                &:not(:has(input:disabled)):hover {
                    background-color: var(--secondary_orange-hover);
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }

        &__container input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }

        &__container::before {
            content: '';
            min-width: 21px;
            width: 21px;
            height: 21px;
            background: center / contain no-repeat url("./../../../../assets/img/view-survey_option_unchecked.svg");
        }

        &__container:has(input:checked)::before {
            background: center / contain no-repeat url("./../../../../assets/img/view-survey_option_checked.svg");
        }

        &__row {
            display: flex;
            align-items: flex-start;
            gap: mx.px-to-rem(4);
            margin-left: mx.px-to-rem(16);
        }

        &__letter-bold {
            font-weight: 700;
            width: mx.px-to-rem(18);
        }

        &__text {
            display: block;
        }
    }

}