@if (currentPollView(); as poll) {

<article class="view-section__box__parent">
    <section class="view-section__box__child__title-section">
        <p class="view-section__published">
            @if (!hasVotedCurrentPoll()) {published} @else {voted}</p>
        <div class="view-section__days-and-category">
            <p class="">Ends in {{ poll.daysLeft }} @if (poll.daysLeft == 1 || poll.daysLeft ==
                -1)
                {day} @else {days}</p>
            <p>Category: {{ poll.categories.category }}</p>
        </div>
        <h3 class="view-section__title nerko orange">{{ poll.title }}</h3>
        <p class="view-section__description">{{ poll.description }}</p>
    </section>

    <section class="view-section__box__child__question-section">
        @for (pq of poll.questions; track pq.id; let questionIndex = $index) {
        <div>
            <h4 class="view-section__question" [class.view-section__multiple-false]="!pq.multiple">
                {{questionIndex+1}}.&nbsp;{{ pq.question }}</h4>
            @if(pq.multiple === true) {
            <h5 class="view-section__multiple-answer">More than one answers are possible.</h5>
            }

            @for (opt of pq.options; track opt.id; let optionIndex = $index) {
            <label class="view-section__option__container">

                <input [type]="pq.multiple ? 'checkbox' : 'radio'"
                    [name]="pq.multiple ? ('option-' + opt.id) : ('question-' + pq.id)" [value]="opt.id"
                    [disabled]="isPollDisabled()" [checked]="isOptionSelected(pq.id, opt.id)"
                    (change)="updateSignal($event, opt.id, pq.id)">
                <div class="view-section__option__row">
                    <span class="view-section__option__letter-bold">
                        {{optionIndex | indexToLetter }}.</span>
                    <span class="view-section__option__text">{{opt.option }}</span>
                </div>

            </label>
            }
        </div>
        }
    </section>

    @if (!hasVotedCurrentPoll()) {
    <button class="view-section__box__child__vote-button" [disabled]="!isPollValid()"
        (click)="uploadPollVotes(anchorBtn, popoverRef);" #anchorBtn>
        @if (isPollStartedButNotCompleted()){Complete all questions} @else { Complete survey }
    </button>
    } @else {
    <div class="view-section__box__child__voted-badge">
        I completed the survey already
    </div>
    }
</article>

<div class="popover nerko" popover id="published" #popoverRef>
    You've voted successfully
</div>
}